.form-subscription__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  flex-grow: 1;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  color: var(--color-text-w);

  &::placeholder {
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.form-subscription__btn {
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.form-subscription__icon {
  margin-right: 0;
  margin-left: 10px;
  transition-property: transform;

  .form-subscription__btn:hover & {
    transform: rotate(15deg);
  }
}

@media screen and (min-width: 1200px) {
  .form-subscription {
    display: flex;
  }
}

@media screen and (max-width: 1199.98px) {
  .form-subscription__input {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
  }

  .form-subscription__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
