.clients__grid {
  justify-content: center;
}

.clients__item {
  --grid-item: 2;
}

.client__link {
  display: flex;
  justify-content: center;
  color: #afb1b8;
  box-shadow: 0 0 0 1px #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: color, box-shadow;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px var(--color-accent);
    color: var(--color-accent);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    --grid-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    --grid-item: 6;
  }
}
