.section {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--color-text);
}
