.services__item {
  position: relative;
}

.service__name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 10px;
  padding-right: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-w);
  background-color: rgba(47, 48, 58, 0.8);
}
